<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="StockManagementSystem_with_Form.Properties.Settings.StockManagementSystemDatabaseConnectionString"
            connectionString="Data Source=DESKTOP-4HHEDN5;Initial Catalog=StockManagementSystemDatabase;Persist Security Info=True;User ID=GozdeDogan"
            providerName="System.Data.SqlClient" />
        <add name="StockManagementSystem_with_Form.Properties.Settings.StockManagementSystemDatabaseConnectionString1"
            connectionString="Data Source=DESKTOP-JB2BDAR\SQLEXPRESS;Initial Catalog=StockManagementSystemDatabase;Persist Security Info=True;User ID=sa;Password=1234"
            providerName="System.Data.SqlClient" />
        <add name="StockManagementSystem_with_Form.Properties.Settings.StockManagementSystemDatabaseConnectionString2"
            connectionString="Data Source=DESKTOP-JB2BDAR\SQLEXPRESS;Initial Catalog=StockManagementSystemDatabase;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>